<!-- Header -->
<header id="header">

	<!-- Logo -->
		<h1 id="logo"><a href="#intro">Directors Cut</a></h1>

	<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="#watch">Watch</a></li>
				<li><a href="#listen">Listen</a></li>
				<li><a href="#shows">Shows</a></li>
				<li><a href="#bio">Bio</a></li>
				<li><a href="#contact">Contact</a></li>
				<li><a href="//twitter.com/DirectorsCutFr" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="//www.facebook.com/directorscutfr" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			</ul>
		</nav>

</header>

<!-- Intro -->
<section id="intro" class="main style1 dark fullscreen">
	<div class="message">
			<div>New album out - 13/12/2014</div>
			<a href="#watch" class="button style2 down"></a>
	</div>
</section>

<section id="watch" class="main style1 dark fullscreen">
	<div class="content container 75%">
		<header>
			<h2>Watch</h2>
		</header>
		<iframe width="640" height="360" src="//www.youtube.com/embed/204Vjft0les" frameborder="0" allowfullscreen></iframe>	</div>
</section>

<section id="listen" class="main style1 dark fullscreen">
	<div class="content container 75%">
		<header>
			<h2>Listen</h2>
		</header>
		<p>Full album streaming</p>
		<iframe class="bc-player" src="https://bandcamp.com/EmbeddedPlayer/album=1554826088/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://directorscutband.bandcamp.com/album/directors-cut">Directors Cut by Directors Cut</a></iframe>

		<p>Also available on</p>
		<ul class="music-links">
			<li>
				<a href="http://open.spotify.com/album/1wmWTfyVcBUGKFlMUhqKlx">
					<%= image_tag "spotify-icon.png", title: "Spotify" %>
					<br/>Spotify
				</a>
			</li>
			<li>
				<a href="https://itunes.apple.com/fr/album/directors-cut/id951238371">
					<%= image_tag "itunes-icon.png", title: "iTunes" %>
					<br/>iTunes
				</a>
			</li>
			<li>
				<a href="http://www.deezer.com/album/9356256">
					<%= image_tag "deezer-icon.png", title: "Deezer" %>
					<br/>Deezer
				</a>
			</li>
		</ul>
	</div>
</section>

<section id="shows" class="main style1 dark fullscreen">
	<div class="content container 75%">
		<header>
			<h2>Shows</h2>
		</header>
			<script type='text/javascript' src='http://widget.bandsintown.com/javascripts/bit_widget.js'></script>
			<a href="http://www.bandsintown.com/DIRECTORS%20CUT" class="bit-widget-initializer" data-artist="DIRECTORS CUT" data-prefix="fbjs">DIRECTORS CUT Tour Dates</a>
	</div>
</section>

<section id="bio" class="main style2 left dark fullscreen">
	<div class="content box style2">
		<header>
			<h2>Bio</h2>
		</header>
		<p>
			Directors Cut is a four-pieces punk rock band formed in 2012 in Lyon, FR.
		</p><p>
			With various musical influences but one common goal, Directors Cut combines catchy melodies with sharp riffs and twisted song structures, trying to put out a fresh and new sound.
		</p><p>
			April 2013 saw the release of first EP « K », followed by single « Invincible » in Septembre 2013. From then on, Directors Cut started to work on first-ever eponymous album out in December 2014, mixed at Studio Cube in Besançon, FR and mastered at Drive Studios in Toronto, ON.
		</p><p>
			The band has, so far, shared the stage with such bands as The Adolescents, GAS Drummers and Second Rate. They are now more than ready to hit the stage and leave their print on modern music.
		</p>
	</div>
</section>

<section id="contact" class="main style1 dark fullscreen">
	<div class="content container 75%">
		<header>
			<h2>Contact</h2>
		</header>
		<p>
			<a href="mailto:directorscutfr@gmail.com">directorscutfr@gmail.com</a>
		</p>
	</div>
</section>
